<footer class="footer" role="contentinfo">
    <div class="footer-inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>

        {# Nav Links  #}
        {% include "navlegal.njk" %}

        <iframe src="https://open.spotify.com/embed/playlist/74dI4Ct9qW5k7D5nQ1pZ8L?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
</footer>
