<div class="preload">
  <div class="preload-shape -one">
    <span class="preload-shape-inner bg-red" >
    </span>
  </div>
  <div class="preload-shape -one">
    <span class="preload-shape-inner bg-red" >
    </span>
  </div>
  <div class="preload-shape -one">
    <span class="shape-inner bg-red" >
    </span>
  </div>
</div>
