.footer {
  flex: none;
  background-color: $gray-light;

  &-inner {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
  }

  &-logo {
    transition: all 500ms $animation-curve-default;

    &:hover {
      letter-spacing: .4rem;
    }
  }
}
