
.letter-motion {
  transition: letter-spacing 400ms $animation-curve-default;

  &:hover {
    letter-spacing: .3rem;
  }
}

.call {
  background-color: $red;
  color: $black;
  padding-left: .25rem;
  padding-right: .25rem;

  &:hover {
    color: $black
  }
}
