.footer {
  flex: none;
  background-color: $gray-light;

  &-inner {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
  }

}

.letter-motion {
  transition: letter-spacing 400ms $animation-curve-default;

  &:hover {
    letter-spacing: .3rem;
  }
}

.call {
  background-color: blue;
  color: $white;
  padding-left: .25rem;
  padding-right: .25rem;

  &:hover {
    color: $white
  }
}
