body {
  transition: all 400ms $animation-curve-default;
}

body.black-theme {
  background-color: $black;
  color: $white;

  ::selection {
     background: blue;
     color: $white;
  }

  ::-moz-selection {
     background: blue;
     color: $white;
  }
}

.section {
  min-height: 150vh;
}

.section--high {
  min-height: 125vh;


}

.section--medium {
  min-height: 75vh;
}

.section--small {
  min-height: 20vh;
}

iframe {
  overflow: hidden;
  pointer-events:none;

  .clicked & {
    pointer-events: auto;
  }
}

.playlist {

  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {
    max-width: 320px;

    @include media-breakpoint-up (md) {
      max-width: 400px;
    }
  }

}

.stripes,.absolute {
  pointer-events: none !important;
}

.stripes {
  padding-bottom: 100vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mw-2 {
  @include media-breakpoint-up (md) {
    max-width: 70vw;
  }
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}
