[data-scroll-container] {
  min-height: 1000vh;
}

.c-section {
  min-height: 100vh;
}

.section--small {
  min-height: 20vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: blue;
}
