.stripe {
    white-space: nowrap;
    position: absolute;

    &-inner {
      display: inline-block;
      background-color: $white;
      color: $black;
      padding-left: 1vw;
      padding-right: 1vw;
    }

    &.-one {
      top: 10%;
      // transform: translateX(300vw) rotate(15deg);
      transform: translateX(10vw) rotate(12deg);
      z-index: 6;
    }
    &.-two {
      top: 20%;
      transform: rotate(-15deg);
      // transform: translateX(60%) rotate(9deg);
    }
    &.-three {
      top: 35%;
      transform: translateX(-10vw) rotate(4deg);
    }
    &.-four {
      top: 45%;
      transform: translateX(-25vw) rotate(7deg);
    }
    &.-five {
      top: 30%;
      transform: translateX(20vw) rotate(-17deg);
    }
    &.-six {
      top: 55%;
      transform: translateX(-10vw) rotate(3deg);
    }
    &.-seven {
      bottom: 10%;
      transform: translateX(-100vw) rotate(3deg);
    }
}

.shape {
  white-space: nowrap;
  position: absolute;

  &-inner {
    display: block;
    background-color: $white;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  &.-one {
    top: 10%;
    transform: translateX(0vw);
    z-index: -1;

  }

  &.-two {
    top: 20%;
    transform: translateX(80vw);
    z-index: -1;
  }
}

.bg-red {
  background-color: $red;
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
}
