.stripe {
    white-space: nowrap;
    position: absolute;

    &-inner {
      display: inline-block;
      background-color: $bg-stripe;
      color: $text-stripe;
      padding-left: 1vw;
      padding-right: 1vw;
    }

    &.-one {
      top: 5%;
      // transform: translateX(300vw) rotate(15deg);
      transform: translateX(10vw) rotate(12deg);
      z-index: 6;
    }
    &.-two {
      top: 10%;
      transform: rotate(-15deg);
      z-index: -1;
      // transform: translateX(60%) rotate(9deg);
      @include media-breakpoint-up (md) {
        top: 10%;
      }
    }
    &.-three {
      top: 20%;
      transform: translateX(-10vw) rotate(4deg);

      @include media-breakpoint-up (md) {
        top: 30%;
      }
    }
    &.-four {
      top: 30%;
      transform: translateX(-5vw) rotate(-7deg);
      z-index: 9;

      @include media-breakpoint-up (md) {
        top: 45%;
      }
    }
    &.-five {
      top: 30%;
      transform: translateX(5vw) rotate(-17deg);

      @include media-breakpoint-up (md) {
        top: 50%;
        transform: translateX(20vw) rotate(-17deg);
      }
    }
    &.-six {
      top: 35%;
      transform: translateX(-10vw) rotate(3deg);

      @include media-breakpoint-up (md) {
        top: 55%;
        transform: translateX(-10vw) rotate(3deg);
      }
    }
    &.-seven {
      top: 30%;
      transform: translateX(-100vw) rotate(-3deg);
      z-index: 4;

      @include media-breakpoint-up (md) {
        top: 80%;
        transform: translateX(-70vw) rotate(-3deg);
      }
    }
    &.-eight {
      top: 5%;
      transform: translateX(-8vw) rotate(-20deg);
      z-index: 10;

      @include media-breakpoint-up (md) {
        top: 45%;
      }
    }
    &.-nine {
      top: 25%;
      left: 50%;
      transform: translateX(-50%) translateY(-30%) rotate(0);
      z-index: 10;

      .stripe-inner {
        display: inline-block;
        background-color: $text-stripe;
        color: $bg-stripe;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-bottom: .5vw;
        padding-top: .5vw;
      }

      @include media-breakpoint-up (md) {
        top: 35%;
        transform: translateX(-50%) rotate(0);
      }

    }
}

.shape {
  white-space: nowrap;
  position: absolute;

  &-inner {
    display: block;
  }

  &.-one {
    top: 10%;
    transform: translateX(0vw);
    z-index: -1;

  }

  &.-two {
    right: 0%;
    top: 40%;
    z-index: 3;
    @include media-breakpoint-up (md) {
      bottom: 10%;
    }
  }

  &.-three {
    right: 0%;
    bottom: 5%;
    // transform: translateX(30vw);
    z-index: 1000;

    path {
      fill: $blue;
    }
  }
}

.triangles {
  position: absolute;
  z-index: 1;
  top: 0;

  @include media-breakpoint-up (md) {
    position: absolute;
    width: 100%;
    top: 10%;
  }
}

.triangle {
  white-space: nowrap;
  position: absolute;


  &-inner {
    display: block;
    width: 20rem;
    height: 20rem;
  }

  &.-one {
    top: 0%;
    transform: translateX(-70vw) translateY(-10vw) rotate(16deg);
    z-index: -1;

    @include media-breakpoint-up (md) {
        transform: translateX(-10vw) translateY(-10vw) rotate(16deg);

    }

  }

  &.-two {
    top: 4%;
    transform: translateX(10vw) translateY(70vw) rotate(3deg);
    z-index: -1;

    @include media-breakpoint-up (md) {
      top: 20%;
      transform: translateX(80vw) translateY(0vw) rotate(3deg);

    }
  }
}

.footer-shapes {
  position: absolute;
  z-index: 1;

  @include media-breakpoint-up (md) {
    position: absolute;
    width: 100%;
    top: 10%;
  }
}

.footer-shape-item {
  white-space: nowrap;
  position: absolute;

  &-inner {
    display: block;
    width: 20rem;
    height: 20rem;
  }

  &.-one {
    top: 0%;
    z-index: -1;
    transform: translateX(-15vw) translateY(0vw);

    @include media-breakpoint-up (md) {
      transform: translateX(-10vw) translateY(0vw);

    }

  }

  &.-two {
    top: 20%;
    transform: translateX(40vw) translateY(20vw);
    z-index: -1;

    @include media-breakpoint-up (md) {
      transform: translateX(60vw) translateY(20vw);

    }
  }
}

.bg-red {
  background-color: $blue;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}
