.stripe {
    white-space: nowrap;
    position: absolute;

    &-inner {
      display: block;
      background-color: $white;
      padding-left: 1vw;
      padding-right: 1vw;
    }

    &.-one {
      top: 13%;
      transform: translateX(-50vw) rotate(26deg);
    }
    &.-two {
      top: 25%;
      transform: translateX(50vw) rotate(9deg);
    }
    &.-three {
      top: 35%;
      transform: translateX(-50vw) rotate(9deg);
    }
    &.-four {
      top: 48%;
      transform: translateX(-50vw) rotate(-19deg);
    }
    &.-five {
      top: 53%;
      transform: translateX(-10vw) rotate(3deg);
    }
}
