---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container-fluid" data-scroll-container>
  <section class="section section-gift relative" data-scroll-section data-scroll-section-id="section1">
      <div id="header" class="absolute"></div>

      <div class="stripes" id="direction" data-scroll data-scroll-sticky data-scroll-target="#header">
        <div class="stripe -one display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-17" data-scroll-target="#direction" >
            KIMAK KIMAK KIMAK
          </span>
        </div>
        <div class="stripe -two display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-14" data-scroll-target="#direction">
            Do Great Things
          </span>
        </div>
        <div class="stripe -eight display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="10" data-scroll-target="#direction">
            2022
          </span>
        </div>
        <div class="shape -one">
          <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-target="#direction" >
          </span>
        </div>
        <div class="stripe -three display-mega">
          <span class="stripe-inner " data-scroll data-scroll-direction="horizontal" data-scroll-speed="19" data-scroll-target="#direction" >
            Inspire by music
          </span>
        </div>
        <div class="stripe -four display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-20" data-scroll-target="#direction">
            Great people
          </span>
        </div>
        <div class="stripe -five display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-10" data-scroll-target="#direction">
            We wish you an inspiring Christmas!
          </span>
        </div>
        <div class="shape -two">
          <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-5" data-scroll-target="#direction">
          </span>
        </div>
        <div class="stripe -six display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="28" data-scroll-target="#direction">
            Play it loud
          </span>
        </div>
        <div class="stripe -seven display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="20" data-scroll-target="#direction">
            We wish you an inspiring Christmas!
          </span>
        </div>
      </div>

      <div class="playlist" data-scroll>
        <iframe frameborder="0" src="https://open.spotify.com/embed/playlist/2O3sehjXSevyDlFEqL1QgU?utm_source=generator&theme=0" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
  </section>

  <section class="section section-text relative" data-scroll-section data-scroll-section-id="section-texts">
    <div data-scroll data-scroll-call="black-theme" data-scroll-repeat id="direction-2">
      <h2 class="display-01 pb-2 text-center">Do Great Things<br>Playlist 2021</h2>
      <p class="pb-2">Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania
        Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé ·
        Shania Twain</p>
      <h3 class="display-02 pb-2 center text-center mw-2">We wish you an inspiring Christmas for you to do great things!<br> Do great again in 2022</h3>
    </div>
    <div data-scroll>
      <div class="triangles -one">
        <span class="triangles-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2" data-scroll-target="#direction-2" data-scroll-delay="0.1">
          <svg width="440" height="550" viewBox="0 0 440 550" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M439.172 0.261511L370.011 549.674L0.275139 337.911L439.172 0.261511Z" fill="#FE1832"/>
          </svg>
        </span>
      </div>
      <div class="triangles -two">
        <span class="triangles-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="5" data-scroll-target="#direction-2" data-scroll-delay="0.6">
          <svg width="446" height="549" viewBox="0 0 446 549" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.622651 0.0892322L445.018 330.468L78.8187 548.289L0.622651 0.0892322Z" fill="#FE1832"/>
          </svg>
        </span>
      </div>
    </div>
  </section>

  <section class="section section-footer section--small" data-scroll-section>
    <div class="center text-center" data-scroll>
      <p class="text-03 ">
        <a class="footer-logo" href="https://www.kimak.com/" target="_blank" rel="noreferrer">KIMAK</a>
      </p>
    </div>
  </section>



</div>
