---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container-fluid" data-scroll-container>
  <section class="section section-gift relative" data-scroll-section data-scroll-section-id="section1">
      <div id="header" class="absolute"></div>

      <div class="stripes" id="direction" data-scroll data-scroll-sticky data-scroll-target="#header">
        <div class="stripe -one display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-12" data-scroll-target="#direction" data-scroll-delay="0.1">
            KIMAK KIMAK KIMAK
          </span>
        </div>
        <div class="stripe -two display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-10" data-scroll-target="#direction">
            Do Great Things
          </span>
        </div>
        <div class="stripe -four display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="10" data-scroll-target="#direction">
            XMAS KIMAK XMAS
          </span>
        </div>
        <div class="shape -one">
          <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-target="#direction" data-scroll-delay="0.1">
          </span>
        </div>
        <div class="stripe -three display-mega">
          <span class="stripe-inner " data-scroll data-scroll-direction="horizontal" data-scroll-speed="15" data-scroll-target="#direction" data-scroll-delay="0.05">
            Inspire by music
          </span>
        </div>
        <div class="stripe -four display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-15" data-scroll-target="#direction">
            Great people
          </span>
        </div>
        <div class="stripe -five display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-10" data-scroll-target="#direction">
            We wish you an inspiring Christmas!
          </span>
        </div>
        {# <div class="shape -two">
          <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="11" data-scroll-target="#direction" data-scroll-delay="0.1">
          </span>
        </div> #}
        <div class="stripe -six display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="28" data-scroll-target="#direction">
            Play it loud
          </span>
        </div>
      </div>

      <div class="playlist" data-scroll>
        <iframe src="https://open.spotify.com/embed/playlist/2O3sehjXSevyDlFEqL1QgU?utm_source=generator&theme=0" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
  </section>

  <section class="section section-text relative" data-scroll-section data-scroll-section-id="section3">
    <div data-scroll id="direction-2">
      <h2 class="display-01 pb-2">Do Great Things<br>Playlist 2022</h2>
      <p class="pb-2">Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania
        Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé ·
        Shania Twain</p>
      <h3 class="display-02 pb-2 mw-2">We wish you an inspiring Christmas for you to do great things! Do great again in 2022</h3>
    </div>
    <div data-scroll>
      <div class="shape -one">
        <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-target="#direction-2" data-scroll-delay="0.1">
        </span>
      </div>
      <div class="shape -two">
        <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="8" data-scroll-target="#direction-2" data-scroll-delay="0.6">
        </span>
      </div>
    </div>
  </section>

  <section class="section section-footer section--small" data-scroll-section>
    <div data-scroll>
      <p class="text-03">
        <a class="footer-logo" href="https://www.kimak.com/" target="_blank" rel="noreferrer">KIMAK</a>
      </p>
    </div>
  </section>



</div>
