---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container-fluid" data-scroll-container>
  <section class="c-section relative" data-scroll-section data-scroll-section-id="section1">
      <div id="header" class="absolute"></div>

      <div class="c-direction-block" id="direction" data-scroll data-scroll-sticky data-scroll-target="#header">
        <div class="stripe -one display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-target="#direction" data-scroll-delay="0.1">
            1. KIMAK KIMAK KIMAK
          </span>
        </div>
        <div class="stripe -two display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-target="#direction">
            2. Do Great Things
          </span>
        </div>
        {# <div class="shape -one">
          <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-18" data-scroll-target="#direction" data-scroll-delay="0.1">
          </span>
        </div> #}
        <div class="stripe -three display-mega">
          <span class="stripe-inner " data-scroll data-scroll-direction="horizontal" data-scroll-speed="15" data-scroll-target="#direction" data-scroll-delay="0.05">
            3. Play it loud
          </span>
        </div>
        <div class="stripe -four display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-15" data-scroll-target="#direction">
            4. Great people
          </span>
        </div>
        <div class="stripe -five display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="35" data-scroll-target="#direction">
            5. We wish you an inspiring Christmas!
          </span>
        </div>
        <div class="stripe -six display-mega">
          <span class="stripe-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-58" data-scroll-target="#direction">
            6. Play it loud
          </span>
        </div>
      </div>
  </section>

  {# <section class="c-section c-section_playlist" data-scroll-section data-scroll-section-id="section3">
    <iframe src="https://open.spotify.com/embed/playlist/2O3sehjXSevyDlFEqL1QgU?utm_source=generator&theme=0" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </section> #}

  <section class="c-section c-section_infos" data-scroll-section data-scroll-section-id="section3">
    <div data-scroll id="direction-2">
      <h2 class="display-01 pb-2">Do Great Things<br>Playlist 2022</h2>
      <p class="pb-2">Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania
        Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé · Shania Twain · Richard Hawley · Kali Uchis ·Ozuna · Frank Sinatra · Michael Bublé ·
        Shania Twain</p>
      <h3 class="display-02 pb-2">We wish you an inspiring Christmas for you to do great things! Do great again in 2022</h3>
    </div>
    <div data-scroll>
      <div class="shape -one">
        <span class="shape-inner bg-red" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-target="#direction-2" data-scroll-delay="0.1">
        </span>
      </div>
    </div>
  </section>

  <section class="footer section--small" data-scroll-section>
    <div data-scroll>
      <p class="text-03">
        <a class="footer-logo" href="https://www.kimak.com/" target="_blank" rel="noreferrer">KIMAK</a>
      </p>
    </div>
  </section>



</div>
